@page
@model UnicdaPlatform.Areas.Identity.Pages.Account.Manage.Administrator.IndexModel
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/Identity/Pages/Account/Manage/Administrator/_AdmLayout.cshtml";
}

<div class="container-fluid">
    <div class="cont-all">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="tit-general">Resumen General</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- -->
            <!-- Ganacias anual Card Example -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-xl-3 mb-4">
                <div class="card bg-red-car shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs text-white font-weight-bold  text-uppercase mb-1">
                                    Materias en Curso
                                </div>
                                <div class="h5 text-gray-100"> @Model.ProfitAmount.ToString("###,###,##0")</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-book fa-2x text-white"></i>
                            </div>
                            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cont-boton-ver">
                                <a class="btn-ver" asp-area="Identity"
                                   asp-page="/Account/Manage/Administrator/Reports/ReportIR2Details">
                                    <i class="fas fa-eye"></i> Ver detalles
                                </a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>

            <!-- ventas del mes Card Example -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-xl-3 mb-4">
                <div class="card bg-grey-car shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                                   Materias Pendientes
                                </div>
                                <div class="h5 text-gray-100"> @Model.TotalSales.ToString("###,###,##0")</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-graduate fa-2x text-white"></i>
                            </div>
                            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cont-boton-ver">
                                <a class="btn-ver" asp-area="Identity"
                                   asp-page="/Account/Manage/Administrator/Transactions/TransactionDetails">
                                    <i class="fas fa-eye"></i> Ver detalles
                                </a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>


            <!-- Vehiculos proximos  avencer Card Example -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-xl-3 mb-4">
                <div class="card bg-blue-3 shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Total de Materias</div>
                                <div class="h5 font-weight-bold text-gray-100">@Model.CarAvailable.ToString("###,###,##0")</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-graduation-cap fa-2x text-white"></i>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cont-boton-ver">
                                <a class="btn-ver" asp-area="Identity"
                                   asp-page="/Account/Manage/Administrator/Items/ItemInformation">
                                    <i class="fas fa-eye"></i> Ver detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vehiculos disponibles Card Example -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-xl-3 mb-4">
                <div class="card bg-blue-car shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-white text-uppercase mb-1"> Promedio Acumulado </div>
                                <div class="h5 font-weight-bold text-gray-100">@Model.CarExpiration.ToString("##0.00")</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-archive fa-2x text-white"></i>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cont-boton-ver">
                                <a class="btn-ver" asp-area="Identity"
                                   asp-page="/Account/Manage/Administrator/Items/ItemToBeatDetails">
                                    <i class="fas fa-eye"></i> Ver detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Row -->
        <div class="row">
            <!-- Pie Chart -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-black"> Creditos Cursados</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-container" style="position: relative" ;>
                            <canvas id="donut-chart-canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-info">Materias en Curso</h6>
                    </div>
                    <div class="">
                        <div class="card-body tabla-dash-2">
                            <div class="table-responsive tabla-top-2">
                                @using (Html.BeginForm())
                                {
                                    <table class="table" id="dataTable" width="100%" cellspacing="0"
                                            data-order='[[ 3, "desc" ]]' data-page-length='5'>
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Materia</th>
                                                <th>Creditos</th>
                                                <th>Profesor</th>
                                                @*<th></th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <!-- /.container-fluid -->
</div>

