@page
@model UnicdaPlatform.Areas.Identity.Pages.Account.Manage.Administrator.Users.UserGroupInformationModel
@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Areas/Identity/Pages/Account/Manage/Administrator/_AdmLayout.cshtml";
}


<div class="container-fluid">
    <div class="cont-all">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="tit-general">GRUPO DE USUARIO</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card shadow mb-4">

                    <div class="card-header py-3">
                        <div class="d-sm-flex align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-black">Informacion de Grupo de Usuario</h6>
                        </div>
                    </div>
                    <form method="post">
                        <div class="card-body form-vehiculo">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">

                                        <input asp-for="Input.Id" type="text" autocomplete="off" hidden>
                                        <input asp-for="Input.GroupId" type="text" autocomplete="off" hidden>
                                        <input asp-for="Input.CompanyId" type="text" autocomplete="off" hidden>
                                        <label for="">Descripcion</label>
                                        <input asp-for="Input.Name" type="text" placeholder=""
                                               class="form-control" id="" autocomplete="off" required>
                                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="">Estado</label>
                                        <select class="form-select" asp-for="Input.Deleted" aria-label="">
                                            <option value="false">Activo</option>
                                            <option value="true">Inactivo</option>
                                        </select>
                                    </div>
                                </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">

                                <span asp-validation-for="ErrorMessage" class="text-danger"></span>
                                <button class="btn btn-sm btn-success shadow-sm"
                                        type="submit" onclick="return confirm('Seguro que desea guardar el Grupo de Usuario?')"
                                        style="font-size: 16px; ">
                                    <i class="nav-link-icon fa fa-save"> </i> GUARDAR
                                </button>
                            </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
