@page
@model UnicdaPlatform.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_ProfileLayout.cshtml";
}

<div class="container-fluid">
    <div class="cont-all cont-welcome">
        <div class="align-items-center">
            <img class="logo-WELCOME"  src="@Model.Picture" alt="Dominico Americano" style="margin:0 auto;display: block;" asp-append-version="true">
            <h1 class="sub-tit-welcome" style="text-align: center;">Bienvenido a</h1>
            <h2 class="tit-welcome" style="text-align: center;">Dominico Americano </h2>
        </div>
    </div>
</div>

