@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- <link href="img/ico.png" rel="icon" type="image/x-icon"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Offshore Banking System</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>


    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 head-general">
        <div class="container">
            <h1>Forgot Password</h1>
        </div>
    </section>

    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container">
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 offset-lg-1 sign-in espacio">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 head"><p>Forgot Password</p></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 formulario">
                    <form id="account" method="post">
                        <div class="form-group">
                            @*<label asp-for="Input.Email"></label>*@
                            <input asp-for="Input.Email" class="form-control campos" type="email" placeholder="Email" aria-describedby="emailHelp" autocomplete="off" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            @*<input type="email" placeholder="Email" class="form-control campos" id="" aria-describedby="emailHelp">*@

                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-grande blue-dark" aria-pressed="true">Save</button>
                            @*<a href="login.html" type="" class="btn btn-grande blue-dark" role="button" aria-pressed="true">Login</a>*@
                        </div>

                        <div class="row espacio">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 espacio">
                                <p class="text-left">

                                    <a asp-page="./Login" class="text-sign">Log In</a>
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <p class="text-right">
                                    <a asp-page="./Register" class="text-sign">Sign In</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript"></script>
</body>
</html>


