body {
    background-color: #fff !important;
    margin-top: 13%
}

.text-white {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

h3.h3 {
    text-align: center;
    padding: 1.5em 0em 2em 0em;
    text-transform: capitalize;
    font-size: 1.5em;
}

.container-fluid {
    padding: 2em 0em 4em 0em;
    background: linear-gradient(to right,#7474bf,#348ac7);
}

.container {
    padding: 2em 0em 5em 0em;
}

.bg-1 {
    background: linear-gradient(to right,#7b4379,#dc2430);
}

.bg-2 {
    background: #ABAD5D;
}

.bg-3 {
    background: #1ABC9C;
}


/********************  Preloader Demo-16 *******************/
.loader1 {
    width: 50px;
    height: 50px;
    margin: 30px auto 40px;
    position: relative
}

    .loader1:after, .loader16:before {
        content: "";
        width: 50px;
        position: absolute;
        left: 0
    }

    .loader1:before {
        height: 5px;
        border-radius: 50%;
        background: #000;
        opacity: .1;
        top: 59px;
        animation: shadow .5s linear infinite
    }

    .loader1:after {
        height: 50px;
        border-radius: 3px;
        background: #008bba;
        top: 0;
        animation: loading .5s linear infinite
    }

@-webkit-keyframes loading {
    17% {
        border-bottom-right-radius: 3px
    }

    25% {
        transform: translateY(9px) rotate(22.5deg)
    }

    50% {
        transform: translateY(18px) scale(1,.9) rotate(45deg);
        border-bottom-right-radius: 40px
    }

    75% {
        transform: translateY(9px) rotate(67.5deg)
    }

    100% {
        transform: translateY(0) rotate(90deg)
    }
}

@keyframes loading {
    17% {
        border-bottom-right-radius: 3px
    }

    25% {
        transform: translateY(9px) rotate(22.5deg)
    }

    50% {
        transform: translateY(18px) scale(1,.9) rotate(45deg);
        border-bottom-right-radius: 40px
    }

    75% {
        transform: translateY(9px) rotate(67.5deg)
    }

    100% {
        transform: translateY(0) rotate(90deg)
    }
}

@-webkit-keyframes shadow {
    0%,100% {
        transform: scale(1,1)
    }

    50% {
        transform: scale(1.2,1)
    }
}

@keyframes shadow {
    0%,100% {
        transform: scale(1,1)
    }

    50% {
        transform: scale(1.2,1)
    }
}

